@font-face {
  font-family: "Socialico";
  src: url("../fonts/Socialico.eot?") format("eot"), url("../fonts/Socialico.woff") format("woff"), url("../fonts/Socialico.ttf") format("truetype"), url("../fonts/Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Quattrocento Sans';
  src: url("../fonts/QuattrocentoSans.eot");
  src: url("../fonts/QuattrocentoSans.eot?#iefix") format("embedded-opentype"), url("../fonts/QuattrocentoSans.woff") format("woff"), url("../fonts/QuattrocentoSans.ttf") format("truetype"), url("../fonts/QuattrocentoSans.svg#QuattrocentoSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?3799gb");
  src: url("../fonts/icomoon.eot?3799gb#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?3799gb") format("truetype"), url("../fonts/icomoon.woff?3799gb") format("woff"), url("../fonts/icomoon.svg?3799gb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-clock:before {
  content: "\e900"; }

.icon-cogs:before {
  content: "\e901"; }

.icon-mobile:before {
  content: "\e902"; }

.icon-pencil:before {
  content: "\e903"; }

.icon-plus:before {
  content: "\e904"; }

.icon-paragraph-center:before {
  content: "\ea78"; }

.icon-paragraph-justify:before {
  content: "\ea7a"; }

body {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #8d8f92;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: #a4aead;
  text-transform: uppercase; }

img {
  max-width: 100%;
  height: auto; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1, h2, h3, h4, h5 {
  font-family: 'Quattrocento Sans';
  font-weight: 700;
  text-transform: uppercase; }

li {
  list-style: none; }

.main-wrapper {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0; }

.navbar-toggler {
  display: none; }

nav {
  background-color: #1d2126; }

.navbar-logo {
  float: left;
  margin-top: 31px; }

.navbar-collapse ul {
  margin: 0; }

.navbar-collapse li {
  float: right;
  margin: 31px 14px;
  border: 2px solid transparent;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .navbar-collapse li:hover {
    border: 2px solid #5b6168;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .navbar-collapse li.active {
    border: 2px solid #1db8a5; }
    .navbar-collapse li.active a {
      color: #1db8a5; }

.navbar-collapse a {
  display: block;
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 4px 12px; }

.sl-slide {
  background: url("../img/main-bg.jpg") center top no-repeat;
  margin: 0 auto;
  position: relative; }
  .sl-slide:before {
    position: absolute;
    content: '';
    background-color: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .sl-slide .container {
    display: table;
    width: 100%;
    min-height: 660px; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

.slick-dots li button {
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  content: '';
  opacity: 1;
  width: 12px;
  height: 12px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all; }

.slick-dots li button,
.slick-dots li button:hover,
.slick-dots li button:focus {
  width: 10px;
  height: 10px; }

.slick-dots li button:hover:before,
.slick-dots li.slick-active button:before {
  background-color: transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.slick-dots li.slick-active button:before {
  background-color: #fff; }

.slick-dots {
  right: 5%;
  bottom: 0;
  text-align: right;
  margin-bottom: 30px; }

.slick-dotted.slick-slider {
  margin: 0; }

.header-container {
  position: relative; }

.slogan {
  position: absolute;
  top: 50%;
  left: 12%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 47%; }
  .slogan h1 {
    color: #fff;
    font-size: 36px;
    margin: 5px 0; }
  .slogan p {
    color: #ccd0d7; }

.btn {
  font-size: 14px;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 9px 22px;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  margin-right: 11px; }
  .btn:hover {
    background: #1db8a5;
    border: 2px solid #1db8a5; }

.holder-about-us {
  margin: 86px 0; }

h2 {
  font-size: 36px;
  color: #292f36;
  position: relative;
  padding-left: 30px; }
  h2::before {
    content: '';
    width: 10px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #e1e6ea;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.left-about {
  width: 56%;
  display: inline-block; }
  .left-about p {
    margin: 36px 0; }
    .left-about p:first-child {
      margin-top: 0; }

.right-about {
  width: 40%;
  display: inline-block;
  margin: 8px 0 0 34px;
  vertical-align: top; }

.social-networking-icons,
.hover-box {
  margin-top: 54px;
  font-size: 0; }
  .social-networking-icons ul,
  .hover-box ul {
    padding: 0; }
  .social-networking-icons li,
  .hover-box li {
    display: inline-block;
    margin: 0 1px; }
  .social-networking-icons a,
  .hover-box a {
    display: block;
    font-family: "Socialico";
    font-size: 36px;
    padding: 2px 18px;
    background-color: #c8cdd0;
    color: #fff;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    width: 60px;
    height: 60px;
    text-align: center; }
    .social-networking-icons a:hover,
    .hover-box a:hover {
      background-color: #d0d5d9; }

.right-box {
  padding-bottom: 30px;
  margin-bottom: 30px; }
  .right-box::before {
    content: '';
    display: table;
    clear: both; }
  .right-box span {
    font-family: 'Quattrocento Sans';
    font-size: 20px;
    display: inline-block;
    padding: 9px 12px;
    background-color: #23b7a4;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center; }
  .right-box h3 {
    color: #292f36;
    font-size: 18px;
    display: inline-block;
    margin: -6px 0 8px 20px;
    vertical-align: top; }
  .right-box p {
    float: right;
    width: 84%;
    margin-top: -21px; }

.numb {
  height: 100%;
  display: inline-block; }

.about-us {
  border-bottom: 1px solid #dee2e5; }

.team-block {
  width: 263px;
  display: inline-block;
  margin: 0 17px; }
  .team-block:hover .hover-box {
    opacity: 1; }
  .team-block:hover .team {
    background-color: #3a454d; }
    .team-block:hover .team h4, .team-block:hover .team p {
      color: #fff; }

.fs {
  margin-left: 0; }

.hover-box a {
  width: 50px;
  height: 50px;
  padding: 0 8px;
  background-color: #3a454d;
  line-height: 50px; }
  .hover-box a:hover {
    background-color: #4e5a62; }

.hover-img {
  position: relative;
  font-size: 0; }

.hover-box {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  margin: 0; }

.hover-holder {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.team {
  padding: 18px 0 18px 19px;
  background-color: #e1e6ea;
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }
  .team h4 {
    color: #292f36;
    margin: 0; }
  .team p {
    margin: 0; }

.team-holder {
  margin: 86px 0 100px 0; }

.title-team h2 {
  margin: 0 0 63px 0; }

.partnership {
  background-color: #3a454d;
  padding: 91px 0 60px 0; }

.title-partnership h2 {
  color: #fff; }
  .title-partnership h2::before {
    background-color: #4e5a62; }

.card {
  position: relative;
  width: 360px;
  display: inline-block;
  margin: 0 20px 42px; }
  .card .card-title {
    background-color: #292f36;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: -1px;
    left: 0; }
  .card .hover-holder {
    width: 20px;
    height: 20px;
    top: 93px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .card:hover .card-title {
    background-color: #292f36;
    opacity: 1; }
  .card h4 {
    color: #fff; }

.card-hover {
  background-color: rgba(0, 0, 0, 0.2); }

.card-hover a {
  background-color: transparent;
  font-size: 20px;
  padding: 0;
  width: 20px;
  height: 20px; }
  .card-hover a:hover {
    background-color: transparent; }

.show-more {
  text-align: center;
  margin-top: 30px; }

.wwd {
  margin: 86px 0 100px 0; }

.wwd-title {
  margin-bottom: 77px; }

.card-wwd {
  width: 22%;
  display: inline-block;
  text-align: center;
  margin: 0 21px 30px; }
  .card-wwd h4 {
    font-size: 17px;
    color: #292f36;
    margin: 0; }
  .card-wwd i {
    color: #23b7a4;
    font-size: 48px;
    margin-bottom: 30px;
    display: inline-block; }

.fs {
  margin-left: 0; }

.lb {
  margin-right: 0; }

.lb-holder {
  margin-top: 94px; }

.ft {
  margin-top: 54px; }
  .ft h4 {
    font-size: 18px;
    margin: 0 0 29px 0; }
  .ft p {
    color: #dcdfe1; }

.title-ft h2 {
  margin: 0 0 63px 0; }

.localisation-title h2 {
  margin: 63px 0; }

.map {
  background: url("../img/map.jpg") no-repeat;
  width: 100%;
  height: 346px; }

.send .btn {
  border: 2px solid #23b7a4;
  background-color: #23b7a4; }
  .send .btn:hover {
    background-color: transparent;
    color: #23b7a4; }

form,
fieldset {
  padding: 0;
  margin: 0;
  border: none; }

.left-block-info {
  width: 535px;
  display: inline-block;
  vertical-align: top;
  padding-top: 60px; }
  .left-block-info h3 {
    color: #292f36;
    font-size: 20px;
    margin: 0; }
  .left-block-info p:last-child {
    margin-top: 30px; }

.form-to-fill {
  width: 555px;
  display: inline-block;
  margin-left: 50px;
  padding: 23px 30px 23px 30px;
  margin-top: -140px;
  background: #fff; }
  .form-to-fill input[type="text"],
  .form-to-fill input[type="email"] {
    width: 240px;
    height: 44px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #ebeff2;
    border: none;
    margin-bottom: 23px;
    padding-left: 20px;
    color: #555; }

.input-holder {
  width: 49%;
  display: inline-block; }

label {
  display: block;
  margin: 0 0 8px 6px; }

textarea {
  width: 100%;
  resize: none;
  background-color: #ebeff2;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-bottom: 25px; }

.contact-info {
  padding: 0 0 80px 0; }

footer {
  background: #3a454d; }
  footer p {
    font-size: 14px;
    color: #fff; }

.socials {
  float: right; }
  .socials ul {
    margin: 25px 0; }
  .socials li {
    display: inline-block;
    margin: 0 10px; }
    .socials li:last-child {
      margin-right: 0; }
  .socials a {
    display: block;
    font: 28px/1.6 'Socialico';
    color: #fff; }
    .socials a:hover {
      opacity: 0.7; }

.copyright {
  display: inline-block;
  margin: 25px 0; }

.navbar {
  position: relative; }

@media screen and (max-width: 992px) {
  .navbar-toggler {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    overflow: hidden;
    font-size: 48px;
    color: #ccc;
    padding: 10px 0;
    margin-right: 15px; }
  .navbar-collapse {
    display: inline-block;
    width: 100%;
    padding: 10px 0; }
    .navbar-collapse ul {
      margin: 0;
      padding: 0; }
    .navbar-collapse li {
      float: none;
      width: 200px; }
  .navbar-nav {
    display: none;
    position: absolute;
    z-index: 1000;
    background: rgba(29, 33, 38, 0.9); } }
