@font-face {
  font-family: "Socialico";
  src: url("../fonts/Socialico.eot?") format("eot"),
  url("../fonts/Socialico.woff") format("woff"),
  url("../fonts/Socialico.ttf") format("truetype"),
  url("../fonts/Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.eot');
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans.woff') format('woff'),
  url('../fonts/OpenSans.ttf') format('truetype'),
  url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Semibold.woff') format('woff'),
  url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
  url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype'),
  url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../fonts/QuattrocentoSans.eot');
  src: url('../fonts/QuattrocentoSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/QuattrocentoSans.woff') format('woff'),
  url('../fonts/QuattrocentoSans.ttf') format('truetype'),
  url('../fonts/QuattrocentoSans.svg#QuattrocentoSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3799gb');
  src:  url('../fonts/icomoon.eot?3799gb#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?3799gb') format('truetype'),
  url('../fonts/icomoon.woff?3799gb') format('woff'),
  url('../fonts/icomoon.svg?3799gb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e900";
}
.icon-cogs:before {
  content: "\e901";
}
.icon-mobile:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
body {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #8d8f92;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #a4aead;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quattrocento Sans';
  font-weight: 700;
  text-transform: uppercase;
}

li {
  list-style: none;
}

.main-wrapper {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.navbar-toggler {
  display: none;
}

nav {
  background-color: #1d2126;
}

.navbar-logo {
  float: left;
  margin-top: 31px;
}

.navbar-collapse {
  ul {
    margin: 0;
  }
  li {
    float: right;
    margin: 31px 14px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: .2s;
    &:hover {
      border: 2px solid #5b6168;
      border-radius: 3px;
    }
    &.active {
      border: 2px solid #1db8a5;
      a {
        color: #1db8a5;
      }
    }
  }
  a {
    display: block;
    font-size: 0.875rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 4px 12px;
  }
}

.sl-slide {
  background: url("../img/main-bg.jpg") center top no-repeat;
  margin: 0 auto;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .container {
    display: table;
    width: 100%;
    min-height: 660px;
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.slick-dots li button {
  border: 1px solid #fff;
  border-radius: 50%;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  content: '';
  opacity: 1;
  width: 12px;
  height: 12px;
  transition: 0.2s all;
}

.slick-dots li button,
.slick-dots li button:hover,
.slick-dots li button:focus {
  width: 10px;
  height: 10px;
}

.slick-dots li button:hover:before,
.slick-dots li.slick-active button:before {
  background-color: transparent;
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  background-color: #fff;
}

.slick-dots {
  right: 5%;
  bottom: 0;
  text-align: right;
  margin-bottom: 30px;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.header-container {
  position: relative;
}

.slogan {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
  width: 47%;
  h1 {
    color: #fff;
    font-size: 36px;
    margin: 5px 0;
  }
  p {
    color: #ccd0d7;
  }
}

.btn {
  font-size: 14px;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 3px;
  padding: 9px 22px;
  transition: .2s all;
  margin-right: 11px;
  &:hover {
    background: #1db8a5;
    border: 2px solid #1db8a5;
  }
}

.holder-about-us {
  margin: 86px 0;
}

h2 {
  font-size: 36px;
  color: #292f36;
  position: relative;
  padding-left: 30px;
  &::before {
    content: '';
    width: 10px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #e1e6ea;
    transform: translateY(-50%);
  }
}

.left-about {
  width: 56%;
  display: inline-block;
  p {
    margin: 36px 0;
    &:first-child {
      margin-top: 0;
    }
  }
}

.right-about {
  width: 40%;
  display: inline-block;
  margin: 8px 0 0 34px;
  vertical-align: top;
}

.social-networking-icons,
.hover-box {
  margin-top: 54px;
  font-size: 0;
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 1px;
  }
  a {
    display: block;
    font-family: "Socialico";
    font-size: 36px;
    padding: 2px 18px;
    background-color: #c8cdd0;
    color: #fff;
    transition: .2s all;
    width: 60px;
    height: 60px;
    text-align: center;
    &:hover {
      background-color: #d0d5d9;
    }
  }
}

.right-box {
  padding-bottom: 30px;
  margin-bottom: 30px;
  &::before {
    content: '';
    display: table;
    clear: both;
  }
  span {
    font-family: 'Quattrocento Sans';
    font-size: 20px;
    display: inline-block;
    padding: 9px 12px;
    background-color: #23b7a4;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  h3 {
    color: #292f36;
    font-size: 18px;
    display: inline-block;
    margin: -6px 0 8px 20px;
    vertical-align: top;
  }
  p {
    float: right;
    width: 84%;
    margin-top: -21px;
  }
}

.numb {
  height: 100%;
  display: inline-block;
}

.about-us {
  border-bottom: 1px solid #dee2e5;
}

.team-block {
  width: 263px;
  display: inline-block;
  margin: 0 17px;
  &:hover {
    .hover-box {
      opacity: 1;
    }
    .team {
      background-color: #3a454d;
      h4, p {
        color: #fff;
      }
    }
  }
}

.fs {
  margin-left: 0;
}

.hover-box {
  a {
    width: 50px;
    height: 50px;
    padding: 0 8px;
    background-color: #3a454d;
    line-height: 50px;
    &:hover {
      background-color: #4e5a62;
    }
  }
}

.hover-img {
  position: relative;
  font-size: 0;
}

.hover-box {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .4);
  text-align: center;
  transition: 0.2s all;
  margin: 0;
}

.hover-holder {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.team {
  padding: 18px 0 18px 19px;
  background-color: #e1e6ea;
  transition: .2s all;
  h4 {
    color: #292f36;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.team-holder {
  margin: 86px 0 100px 0;
}

.title-team {
  h2 {
    margin: 0 0 63px 0;
  }
}

.partnership {
  background-color: #3a454d;
  padding: 91px 0 60px 0;
}

.title-partnership {
  h2 {
    color: #fff;
    &::before {
      background-color: #4e5a62;
    }
  }
}

.card {
  position: relative;
  width: 360px;
  display: inline-block;
  margin: 0 20px 42px;
  .card-title {
    background-color: #292f36;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: -1px;
    left: 0;
  }
  .hover-holder {
    width: 20px;
    height: 20px;
    top: 93px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover {
    .card-title {
      background-color: #292f36;
      opacity: 1;
    }
  }
  h4 {
    color: #fff;
  }
}

.card-hover {
  background-color: rgba(0, 0, 0, .2);
}

.card-hover {
  a {
    background-color: transparent;
    font-size: 20px;
    padding: 0;
    width: 20px;
    height: 20px;
    &:hover {
      background-color: transparent;
    }
  }
}
.show-more {
  text-align: center;
  margin-top: 30px;
}

.wwd {
  margin: 86px 0 100px 0;
}

.wwd-title {
  margin-bottom: 77px;
}

.card-wwd {
  width: 22%;
  display: inline-block;
  text-align: center;
  margin: 0 21px 30px;
  h4 {
    font-size: 17px;
    color: #292f36;
    margin: 0;
  }
  i {
    color: #23b7a4;
    font-size: 48px;
    margin-bottom: 30px;
    display: inline-block;
  }
}

.fs {
  margin-left: 0;
}

.lb {
  margin-right: 0;
}

.lb-holder {
  margin-top: 94px;
}
.ft {
  margin-top: 54px;
  h4 {
    font-size: 18px;
    margin: 0 0 29px 0;
  }
  p {
    color: #dcdfe1;
  }
}
.title-ft {
  h2 {
    margin: 0 0 63px 0;
  }
}
.localisation-title {
  h2 {
    margin: 63px 0;
  }
}
.map {
  background: url("../img/map.jpg") no-repeat;
  width: 100%;
  height: 346px;
}
.send {
  .btn {
    border: 2px solid #23b7a4;
    background-color: #23b7a4;
    &:hover {
      background-color: transparent;
      color: #23b7a4;
    }
  }
}
form,
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.left-block-info {
  width: 535px;
  display: inline-block;
  vertical-align: top;
  padding-top: 60px;
  h3 {
    color: #292f36;
    font-size: 20px;
    margin: 0;
  }
  p:last-child {
    margin-top: 30px;
  }
}
.form-to-fill {
  width: 555px;
  display: inline-block;
  margin-left: 50px;
  padding: 23px 30px 23px 30px;
  margin-top: -140px;
  background: #fff;
  input[type="text"],
  input[type="email"] {
    width: 240px;
    height: 44px;
    border-radius: 3px;
    background-color: #ebeff2;
    border: none;
    margin-bottom: 23px;
    padding-left: 20px;
    color: #555;
  }
}
.input-holder {
  width: 49%;
  display: inline-block;
}
label {
  display: block;
  margin: 0 0 8px 6px;
}
textarea {
  width: 100%;
  resize: none;
  background-color: #ebeff2;
  border: none;
  border-radius: 3px;
  margin-bottom: 25px;
}
.contact-info {
  padding: 0 0 80px 0;
}
footer {
  background: #3a454d;
  p {
    font-size: 14px;
    color: #fff;
  }
}
.socials {
  float: right;
  ul {
    margin: 25px 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: block;
    font: 28px/1.6 'Socialico';
    color: #fff;
    &:hover {
      opacity: 0.7;
    }
  }
}
.copyright {
  display: inline-block;
  margin: 25px 0;
}

.navbar {
  position: relative;
}
@media screen and (max-width: 992px) {
  .navbar-toggler {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    overflow: hidden;
    font-size: 48px;
    color: #ccc;
    padding: 10px 0;
    margin-right: 15px;
  }
  .navbar-collapse {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      float: none;
      width: 200px;
    }
  }
  .navbar-nav {
    display: none;
    position: absolute;
    z-index: 1000;
    background: rgba(29,33,38,.9);
  }
}
//ANIAMTIONS

.facebook:hover {
  color: #0170d4;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px rgba(1, 112, 212, 0.5), 0 0 20px rgba(1, 112, 212, 0.5), 0 0 30px rgba(1, 112, 212, 0.5), 0 0 40px rgba(1, 112, 212, 0.5), 0 0 70px rgba(1, 112, 212, 0.5), 0 0 80px rgba(1, 112, 212, 0.5), 0 0 100px rgba(1, 112, 212, 0.5), 0 0 150px rgba(1, 112, 212, 0.5);
  }
  to {
    text-shadow: 0 0 5px rgba(1, 112, 212, 0.5), 0 0 10px rgba(1, 112, 212, 0.5), 0 0 15px rgba(1, 112, 212, 0.5), 0 0 20px rgba(1, 112, 212, 0.5), 0 0 35px rgba(1, 112, 212, 0.5), 0 0 40px rgba(1, 112, 212, 0.5), 0 0 50px rgba(1, 112, 212, 0.5), 0 0 75px rgba(1, 112, 212, 0.5);
  }
}



.twitter:hover {
  color: #0170d4;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px rgba(1, 112, 212, 0.5), 0 0 20px rgba(1, 112, 212, 0.5), 0 0 30px rgba(1, 112, 212, 0.5), 0 0 40px rgba(1, 112, 212, 0.5), 0 0 70px rgba(1, 112, 212, 0.5), 0 0 80px rgba(1, 112, 212, 0.5), 0 0 100px rgba(1, 112, 212, 0.5), 0 0 150px rgba(1, 112, 212, 0.5);
  }
  to {
    text-shadow: 0 0 5px rgba(1, 112, 212, 0.5), 0 0 10px rgba(1, 112, 212, 0.5), 0 0 15px rgba(1, 112, 212, 0.5), 0 0 20px rgba(1, 112, 212, 0.5), 0 0 35px rgba(1, 112, 212, 0.5), 0 0 40px rgba(1, 112, 212, 0.5), 0 0 50px rgba(1, 112, 212, 0.5), 0 0 75px rgba(1, 112, 212, 0.5);
  }
}



.google:hover {
  color: #be27af;
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px rgba(190, 39, 175,0.45), 0 0 20px rgba(212, 43, 195, 0.5), 0 0 30px rgba(216, 65, 201, 0.55), 0 0 40px rgba(220, 86, 207, 0.60), 0 0 70px rgba(225, 107, 213, 0.65);
  }
  to {
    text-shadow: 0 0 5px rgba(190, 39, 175,0.45), 0 0 10px rgba(212, 43, 195, 0.5), 0 0 15px rgba(216, 65, 201, 0.55), 0 0 20px rgba(220, 86, 207, 0.60), 0 0 35px rgba(225, 107, 213, 0.65);
  }
}




.dribble:hover {
  color: #e40e0e;
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px rgba(228, 14, 14, 0.5), 0 0 20px rgba(228, 14, 14, 0.5), 0 0 30px rgba(228, 14, 14, 0.5), 0 0 40px rgba(228, 14, 14, 0.5), 0 0 70px rgba(228, 14, 14, 0.5), 0 0 80px rgba(228, 14, 14, 0.5), 0 0 100px rgba(228, 14, 14, 0.5), 0 0 150px rgba(228, 14, 14, 0.5);
  }
  to {
    text-shadow: 0 0 5px rgba(228, 14, 14, 0.5), 0 0 10px rgba(228, 14, 14, 0.5), 0 0 15px rgba(228, 14, 14, 0.5), 0 0 20px rgba(228, 14, 14, 0.5), 0 0 35px rgba(228, 14, 14, 0.5), 0 0 40px rgba(228, 14, 14, 0.5), 0 0 50px rgba(228, 14, 14, 0.5), 0 0 75px rgba(228, 14, 14, 0.5);
  }
}




.be:hover {
  color: #FFA300;
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
  animation: neon5 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px rgba(255, 163, 0, 0.5), 0 0 20px rgba(255, 163, 0, 0.5), 0 0 30px rgba(255, 163, 0, 0.5), 0 0 40px rgba(255, 163, 0, 0.5), 0 0 70px rgba(255, 163, 0, 0.5), 0 0 80px rgba(255, 163, 0, 0.5), 0 0 100px rgba(255, 163, 0, 0.5), 0 0 150px rgba(255, 163, 0, 0.5);
  }
  to {
    text-shadow: 0 0 5px rgba(255, 163, 0, 0.5), 0 0 10px rgba(255, 163, 0, 0.5), 0 0 15px rgba(255, 163, 0, 0.5), 0 0 20px rgba(255, 163, 0, 0.5), 0 0 35px rgba(255, 163, 0, 0.5), 0 0 40px rgba(255, 163, 0, 0.5), 0 0 50px rgba(255, 163, 0, 0.5), 0 0 75px rgba(255, 163, 0, 0.5);
  }
}


.tw2:hover {
  color: #0ff;
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 30px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5), 0 0 70px rgba(0, 255, 255, 0.5), 0 0 80px rgba(0, 255, 255, 0.5);
  }
  to {
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.5), 0 0 10px rgba(0, 255, 255, 0.5), 0 0 15px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5), 0 0 35px rgba(0, 255, 255, 0.5), 0 0 40px rgba(0, 255, 255, 0.5);
  }
}


.in:hover {
  color: #00c;
  -webkit-animation: neon7 1.5s ease-in-out infinite alternate;
  animation: neon7 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon7 {
  from {
    text-shadow: 0 0 10px rgba(0, 0, 204, 0.5), 0 0 20px rgba(0, 0, 204, 0.5), 0 0 30px rgba(0, 0, 204, 0.5), 0 0 40px rgba(0, 0, 204, 0.5), 0 0 70px rgba(0, 0, 204, 0.5), 0 0 80px rgba(0, 0, 204, 0.5);
  }
  to {
    text-shadow: 0 0 5px rgba(0, 0, 204, 0.5), 0 0 10px rgba(0, 0, 204, 0.5), 0 0 15px rgba(0, 0, 204, 0.5), 0 0 20px rgba(0, 0, 204, 0.5), 0 0 35px rgba(0, 0, 204, 0.5), 0 0 40px rgba(0, 0, 204, 0.5);
  }
}


.icon-plus:hover {
  color: #fff;
  -webkit-animation: neon8 1.5s ease-in-out infinite alternate;
  animation: neon8 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon8 {
  from {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 70px rgba(255, 255, 255, 0.5), 0 0 80px rgba(255, 255, 255, 0.5);
  }
  to {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 35px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5);
  }
}



.skype:hover {
  color: #4da6ff;
  -webkit-animation: neon9 1.5s ease-in-out infinite alternate;
  animation: neon9 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon9 {
  from {
    text-shadow: 0 0 10px rgba(77, 166, 255, 0.5), 0 0 20px rgba(77, 166, 255, 0.5), 0 0 30px rgba(77, 166, 255, 0.5), 0 0 40px rgba(77, 166, 255, 0.5), 0 0 70px rgba(77, 166, 255, 0.5), 0 0 80px rgba(77, 166, 255, 0.5);
  }
  to {
    text-shadow: 0 0 5px rgba(77, 166, 255, 0.5), 0 0 10px rgba(77, 166, 2555, 0.5), 0 0 15px rgba(77, 166, 255, 0.5), 0 0 20px rgba(77, 166, 255, 0.5), 0 0 35px rgba(77, 166, 255, 0.5), 0 0 40px rgba(77, 166, 255, 0.5);
  }
}


.be:hover {
  color: #005cff;
  -webkit-animation: neon10 1.5s ease-in-out infinite alternate;
  animation: neon10 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon10 {
  from {
    text-shadow: 0 0 10px rgba(0, 92, 255, 0.5), 0 0 20px rgba(0, 92, 255, 0.5), 0 0 30px rgba(0, 92, 255, 0.5), 0 0 40px rgba(0, 92, 255, 0.5), 0 0 70px rgba(0, 92, 255, 0.5), 0 0 80px rgba(0, 92, 255, 0.5), 0 0 100px rgba(0, 92, 255, 0.5), 0 0 150px rgba(0, 92, 255, 0.5);
  }
  to {
    text-shadow: 0 0 5px rgba(0, 92, 255, 0.5), 0 0 10px rgba(0, 92, 255, 0.5), 0 0 15px rgba(0, 92, 255, 0.5), 0 0 20px rgba(0, 92, 255, 0.5), 0 0 35px rgba(0, 92, 255, 0.5), 0 0 40px rgba(0, 92, 255, 0.5), 0 0 50px rgba(0, 92, 255, 0.5), 0 0 75px rgba(0, 92, 255, 0.5);
  }
}


